<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WebRTC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h3>Codelab Developer</h3>
        <video id="localStream" width="300px" src=""></video>
        <video id="otherStream" width="300px" src=""></video>
        <br /><br />
        <label for="">My signal</label><br />
        <textarea name="" id="mySignal" cols="120" rows="10"></textarea>
        <br />
        <label for="">Other signal</label><br />
        <input type="text" id="otherSignal"/>
        <br />
        <button id="btnConnect">Connect</button>

        <script src="./public/bundle.js"></script>
    </body>
</html>